

<nav class="bg-blue-500">
  <div class="container mx-auto py-4">
    <!-- Links -->
    <ul class="flex justify-center">
      <li class="mr-6" *ngFor="let menu of filteredMenu; let i=index">
        <a href="#" class="text-white hover:text-gray-200" [routerLink]="menu.path">{{menu.text}}</a>
      </li>
      <!-- Add more navigation links as needed -->
    </ul>
  </div>
</nav>

<!-- Main Content Area -->
<div class="container mx-auto py-8">
  <div class="text-center">
    <h1 class="text-4xl font-bold text-gray-800 mb-4">Welcome to Beautiful Design</h1>
    <p class="text-lg text-gray-600">Crafted with Tailwind CSS</p>
  </div>
  logged in Role {{role}}
  <router-outlet></router-outlet>
</div>
